/* Navbar */

.nav {
  background: #fff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  height: 48px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.nav-logo {
  left: 0;
  position: absolute;
  top: 0;
}

.nav-logo > a {
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  height: 48px;
  padding: 16px 20px;
  width: 106px;
  will-change: height;
}

.nav-logo img {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  display: block;
  height: 16px;
  position: relative;
  width: 66px;
  will-change: transform;
  z-index: 999;
}

.nav-tnw,
.nav-sections {
  display: none;
}

.nav-company {
  float: right;
  padding-right: 20px;
}

.nav-countdown {
  position: absolute;
  height: 48px;
  left: 50%;
}

.nav-countdown-wrapper {
  height: 48px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-countdown2 {
  line-height: 46px;
}

.nav-countdown2 img {
  display: none;
}

.nav-icons {
  float: right;
}

.nav-icons li {
  border-left: 1px solid #eee;
  float: left;
}

.nav-mob-toggle {
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  opacity: 1 !important;
  position: relative;
  z-index: 998;
}

.featured-story a {
  color: #fff;
}

.nav-icons li a {
  display: block;
  height: 48px;
  opacity: 0.25;
  padding: 16px;
  width: 48px;
  will-change: opacity;
  transform: scaleX(-1);
}

.nav-mob-toggle > span {
  transition: 0.4s;
  background-color: #f42;
  display: block;
  height: 2px;
  left: 14px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 20px;
}

.nav-mob-toggle span:first-child {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.nav-mob-toggle span:last-child {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.nav-message {
  position: relative;
  margin-left: 0;
  margin-top: 50px;
  font-size: 11px;
  line-height: 24px;
  background-color: #000;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 6px;
}

.nav-message-announcement {
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.15);
  line-height: 30px;
  background: #fd3;
  font-size: 10px;
  color: #000;
}

/* Main */

.main {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  padding-top: 77px;
  position: relative;
  z-index: 2;
}

/* featured-stories */

.featured-stories {
  margin: 0 auto;
  padding: 4px;
  position: relative;
}

.featured-story {
  float: left;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: 100%;
}

#featured-image1,
#featured-image2,
#featured-image3 {
  width: 100%;
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.featuring-coloring {
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
  transition: background-color 0.4s ease;
  background: rgba(0, 0, 0, 0.25) url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
}

.featured-title {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
  z-index: 3;
  display: block;
  font-family: Avalon, sans-serif;
  font-size: 25px;
  font-stretch: 100%;
  font-weight: 700;
  height: 112px;
  color: white;
}

/* main wrapper */

.wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.latest-ul {
  display: flex;
  flex-wrap: wrap;
}

.latest-ul-li {
  max-width: 100%;
  flex-basis: 100%;
}

.latest-ul-li h4 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 700;
  padding: 5px 0;
}

.latest-ul-li ul {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.latest h2 a {
  color: rgb(255, 68, 34);
  cursor: pointer;
  display: inline;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-weight: 700;
}

.latest-ul-li ul li,
.latest-ul-li ul li a {
  color: #aaa;
  flex-direction: row;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 400;
  padding-right: 5px;
}

.latest h2 {
  margin: 40px 0 10px 0;
}

/* main deals */

.deals-header {
  margin-top: 2em;
}

.deals-header h2 {
  color: rgb(255, 68, 34);
  float: left;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-weight: 700;
}

.deals-header-link {
  color: #f42;
  text-decoration: none;
  font-family: Avalon, sans-serif;
  font-size: 16px;
}

.deals-header-more:not(:first-of-type)::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
  pointer-events: none;
  position: absolute;
}

.deals-header-more {
  float: right;
  line-height: 18px;
  margin-top: 11px;
}

.deals-header-more:not(:first-of-type) {
  margin-right: 23px;
}

.deals-header::after {
  clear: both;
  content: "";
  display: block;
}

.deals-content {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 25px 0;
}

.deal-content {
  margin: 7px;
}

.content {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 25px 0;
}

.content1 {
  margin: 5px;
}

.footer {
  height: 257px;
  margin-top: 50px;
  text-align: center;
}

.footer-1 {
  height: 70%;
  background: #131313;
}

.footer-1 div {
  padding: 18px;
}

.footer-social ul li {
  color: white;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  padding: 12px;
  width: 40px;
}

.footer-menu ul li {
  color: #aaa;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 500;
  margin: 0 8px;
  display: inline-block;
}

.footer-2 {
  height: 30%;
  background: #000;
}

.footer-2 p {
  color: rgb(170, 170, 170);
  display: block;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  padding-top: 30px;
}

/* media queries */

@media (min-width: 768px) {
  .nav {
    height: 80px;
    padding-left: 106px;
    position: absolute;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding-left: 0;
  }
}

@media (min-width: 1024px) {
  .nav-logo {
    -webkit-transform: translateX(-106px);
    transform: translateX(-106px);
  }
}

@media (min-width: 768px) {
  .nav-logo > a {
    height: 80px;
  }
}

@media (min-width: 768px) {
  .nav-logo img {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
}

@media (min-width: 768px) {
  .nav-tnw {
    background: #131313;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .float-left {
    float: left;
    margin-left: 12px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .nav-tnw a {
    color: hsla(0, 0%, 100%, 0.6);
  }
}

@media (min-width: 768px) {
  .nav-tnw::after {
    clear: both;
    content: "";
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-sections {
    display: block;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .nav-sections > li {
    float: left;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .nav-sections-section a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 768px) {
  .nav-sections-section a {
    font-family: Shentox, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #aaa;
    display: block;
    height: 48px;
    letter-spacing: 0.04em;
    line-height: 1;
    padding: 18px 10px 0;
  }
}

@media (min-width: 480px) {
  .nav-countdown {
    position: relative;
    left: auto;
    float: right;
    border-right: 1px solid #eee;
    padding-right: 8px;
  }
}

@media (min-width: 480px) {
  .nav-countdown-wrapper {
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 1024px) {
  .nav-countdown2 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav-countdown2 img {
    display: inline-block;
    width: 125px;
    height: 46px;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .nav-icons .nav-mob-toggle {
    display: none;
  }
}

@media (min-width: 480px) {
  .nav-message {
    font-size: 13px;
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .nav-message {
    margin-left: -106px;
    padding-left: 126px;
    text-align: left;
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .main {
    padding-top: 80px;
  }
}

@media (min-width: 1024px) {
  .main {
    padding-top: 104px;
  }
}

@media (min-width: 1024px) {
  .featured-stories {
    height: 75vh;
    max-height: 560px;
  }
}

@media (min-width: 1600px) {
  .featured-stories {
    height: 60vh;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .featured-stories {
    height: 60vh;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .featured-stories article {
    float: left;
    height: 50%;
    width: 33.33333%;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .featured-stories :first-child {
    height: 100%;
    width: 66.66%;
  }
}

@media (min-width: 768px) {
  .featured-stories article {
    float: left;
    height: 50%;
    width: 33.33333%;
  }
}

@media (min-width: 1024px) {
  .featured-stories article:first-child {
    height: 100%;
    width: 66.66666%;
  }
}

@media (max-width: 1024px) {
  .featured-stories article {
    min-height: 30vh;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .featured-gradient {
    background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
    bottom: 4px;
    left: 4px;
    mix-blend-mode: lighten;
    pointer-events: none;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 4;
  }
}

@media (min-width: 1024px) {
  .featured-logo {
    background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg) no-repeat;
    background-size: contain;
    left: 24px;
    max-width: 50%;
    height: 100%;
    max-height: 112px;
    line-height: 1;
    top: 24px;
    pointer-events: none;
    text-align: right;
    color: #fff;
    position: absolute;
    right: 24px;
    z-index: 5;
  }
}

@media (min-width: 1600px) {
  .featured-logo {
    background-size: contain;
    height: 96px;
  }
}

@media (min-width: 768px) {
  .latest-ul-li {
    max-width: 33%;
    flex-basis: 33%;
    padding: 12px;
  }
}

@media (min-width: 1024px) {
  .latest-ul-li {
    max-width: 25%;
    flex-basis: 25%;
    padding: 12px;
  }
}

@media (max-width: 767px) {
  .latest-ul-li {
    min-height: 72px;
    padding-left: 88px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .latest-ul-li img {
    left: 0;
    padding-top: 5px;
    position: absolute;
    top: 0;
    width: 75px;
  }
}

@media (min-width: 768px) {
  .deals-header-more {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  .deals-header-more {
    float: left;
    display: block;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .deals-header-more {
    float: none;
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .deals-header-more:not(:last-of-type) {
    margin-right: 23px;
  }
}

@media (max-width: 1024px) {
  .deals-header-more:first-of-type {
    clear: both;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .deals-header-more:first-of-type {
    padding-top: 1em;
  }
}

@media (min-width: 768px) {
  .float-right {
    float: right;
    margin-left: 12px;
    position: relative;
    padding-right: 10px;
  }
}
